@import url('https://fonts.googleapis.com/css2?family=Chango&family=Oswald:wght@500;600;700&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Chango', cursive;
*/


/*Universal*/
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*Table of Contents*/
#ToC {
	min-height: 100vh;
	text-align: center;
	color: #fff;
	background: url(../images/toc-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

#ToC .ToC-texts a {
	color: #999;
	text-shadow: 1px 1px #fff;
	line-height: 5rem;
}

#ToC .ToC-texts a:hover {
	text-decoration: underline;
}

/*END OF Table of Contents*/

/*RESPONSIVE NAV BAR HTML/CSS*/
nav {
	background: transparent;
	height: 10vh;
	width: 100%;
}

label.logo {
	color: white;
	font-size: 3rem;
	line-height: 10vh;
	padding: 0 100px;
	font-weight: bold;
	text-shadow: 2px 2px 3px #f0b3ff;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 10vh;
	margin: 0 5px;
}

nav ul li a {
	color: #fff;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 5px;
	text-transform: uppercase;
	text-shadow: 2px 2px 3px #f0b3ff;
	position: relative;
}

nav ul li a::before{
	content: '';
	height: 3px;
	background: #f0b3ff;
	width: 0%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.5s ease;
}

nav ul li a:hover::before{
	width: 100%;
	left: 0;

}

nav ul li a.active::before{
	width: 100%;

}

.checkbtn {
	font-size: 1.9rem;
	color: white;
	float: right;
	line-height: 10vh;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}


#showcase {
	/*this will have the bg below our nav bar*/
	height: 100vh;
	/*this will make sure that the landing page is full screen*/
	/*100vh subtracting the height of nav bar*/
	/*height: calc(100vh - 10vh);*/
	background: url(../images/navbar-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

/*END OF RESPONSIVE NAV BAR HTML/CSS*/

/*GLOWING TEXT USING HTML/CSS*/

#glowingtext {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	font-family: 'Chango', cursive;
}

#glowingtext h1 {
	margin: 0;
	padding: 0;
	color: #111;
	font-size: 8rem;
}

#glowingtext h1 span {
	display: table-cell;
	margin: 0;
	padding: 0;
	animation: animate 1.75s linear infinite;
}

#glowingtext h1 span:nth-child(1){
	animation-delay: 0s;
}
#glowingtext h1 span:nth-child(2){
	animation-delay: 0.25s;
}
#glowingtext h1 span:nth-child(3){
	animation-delay: 0.5s;
}
#glowingtext h1 span:nth-child(4){
	animation-delay: 0.75s;
}
#glowingtext h1 span:nth-child(5){
	animation-delay: 1s;
}
#glowingtext h1 span:nth-child(6){
	animation-delay: 1.25s;
}
#glowingtext h1 span:nth-child(7){
	animation-delay: 1.5s;
}

@keyframes animate {
	0%, 100% {
		color: #fff;
		filter: blur(2px);
		text-shadow: 0 0 10px #00b3ff,
					 0 0 20px #00b3ff,
					 0 0 40px #00b3ff,
					 0 0 80px #00b3ff,
					 0 0 120px #00b3ff,
					 0 0 200px #00b3ff,
					 0 0 300px #00b3ff;
	}

	5%, 95% {
		color: #111;
		filter: blur(0px);
		text-shadow: none;
	}
}

/*END OF GLOWING TEXT USING HTML/CSS*/

/*TIMELINE*/
/*parent of ul*/
.timeline {
	background: whitesmoke;
	position: relative;
	margin: 0 auto;
	padding: 2rem 0;
	width: 80%;
	min-height: 100vh;
	overflow: hidden;
}

.timeline::before{
	content: '';
	position: absolute;
	left: 50%;
	width: 3px;
	height: 100%;
	background: #c5c5c5;
}

.timeline ul {
	margin: 0;
	padding: 0;
	
}

.timeline ul li {
	list-style: none;
	position: relative;
	width: 50%;
	padding: 1.25rem 2.5rem;
	box-sizing: border-box;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

.timeline ul li:hover {
 	border-top: 3px solid #c5c5c5;
	border-bottom: 3px solid #c5c5c5;
	transition: all 0.5s ease;
}

.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}

.timeline ul li:nth-child(even){
	float: right;
	text-align: left;
	clear: both;
}

/*this for the dot on your timeline*/
.timeline ul li:nth-child(odd)::before{
	content: '';
	position: absolute;
	top: 2.5rem;
	right: -0.6rem;
	width: 1rem;
	height: 1rem;
	background: rgba(233, 33, 99, 1);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even)::before{
	content: '';
	position: absolute;
	top: 2.5rem;
	left: -0.4rem;
	width: 1rem;
	height: 1rem;
	background: rgba(233, 33, 99, 1);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li h3 {
	font-weight: 600;
	color: rgba(233, 33, 99, 1)
}

/*for the class time*/
.timeline ul li:nth-child(odd) .time{
	position: absolute;
	top: 1.1rem;
	right: -11rem;
	margin: 0;
	padding: 0 1.5rem;
	background: rgba(233, 33, 99, 0.3);
	border-radius: 10px;
}

.timeline ul li:nth-child(even) .time{
	position: absolute;
	top: 1.1rem;
	left: -11rem;
	margin: 0;
	padding: 0 1.5rem;
	background: rgba(233, 33, 99, 0.3);
	border-radius: 10px;
}

/*END OF TIMELINE*/

/*BACK TO TOP*/
#topBtn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	font-size: 2rem;
	width: 5rem;
	height: 5rem;
	color: #fff;
	cursor: pointer;
	background: #000;
}

#backtotop {
	text-align: center;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#backtotop div {
	margin: 1rem;
}
/*END OF BACK TO TOP*/

/*GALLERY USING CSS GRID*/
#cssgrid {
	min-height: 100vh;
	background: #eee;
	display: flex;
}

#cssgrid .container {
	width: 100%;
	max-width: 120rem;
	margin: auto;
	padding: 0 1.5rem;
}

.image-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1.5rem;
	grid-template-areas:
	'img1 img2 img3 img3'
	'img1 img4 img5 img6'
	'img7 img7 img8 img6';
	overflow: hidden;
}

.image-gallery a{
	border: 1px solid #000;
	width: 100%;
	height: 25rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

}

.image-gallery a:hover{
	transition: 0.5s;
	transform: scale(1.03);
}

.image-gallery a i{
	color: rgba(255, 255, 255, 0.6);
	font-size: 3rem;
	position: relative; /*needed for the before and after effect*/
	z-index: 100;
	padding: 1rem 3rem;
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 0.4rem;
	opacity: 0;
	transition: opacity 0.5s;
}

.image-gallery a::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition: opacity 0.5;
}

.image-gallery a:hover i,
.image-gallery a::before{
	opacity: 1;
}

.img1 {
	grid-area: img1;
	min-height: 51.5rem; /*height of row(2rows) + grid gap*/
	background: url("../images/img1.jpg");
}

.img2 {
	grid-area: img2;
	background: url("../images/img2.jpg");
}

.img3 {
	grid-area: img3;
	background: url("../images/img3.jpg");
}

.img4 {
	grid-area: img4;
	background: url("../images/img4.jpg");
}

.img5 {
	grid-area: img5;
	background: url("../images/img5.jpg");
}

.img6 {
	grid-area: img6;
	min-height: 51.5rem; /*height of row(2rows) + grid gap*/
	background: url("../images/img6.jpg");
}

.img7 {
	grid-area: img7;
	background: url("../images/img7.jpg");
}

.img8 {
	grid-area: img8;
	background: url("../images/img8.jpg");
}
/*END OF GALLERY USING CSS GRID*/

/*BLOG FOOTER*/
#blogfooter {
	margin-top: 2rem;
}

#blogfooter h1, #blogfooter h2 {
	line-height: 4rem;
}

#blogfooter a {
	color: #fff;
	text-decoration: none;
}

#blogfooter input, #blogfooter textarea, #blogfooter button {
	display: block;
	margin: 1rem 0;
	border-radius: 5px;
}

#blogfooter textarea.text-input.contact-input {
	height: 3rem;
	width: 50%;
}

#blogfooter input.text-input.contact-input {
	height: 2rem;
	width: 50%;
}

#blogfooter button.btn.btn-big {
	padding: 0.5rem;
	border: none;
	
}

.footer {
	background: #303036;
	color: #d3d3d3;
	min-height: 40vh;
}

.footer .footer-content {
	min-height: 35vh;
	display: flex;
}

.footer .footer-content h1, 
.footer .footer-content h2 {
	color: #fff;
}

.footer .footer-content .about h1 span{
	color: #05f7ff;
}

.footer .footer-content .about .contact span{
	display: block;
	font-size: 1.1rem;
	margin: 0.5rem 0;
}
/*footer-socials*/
.footer .footer-content .about .socials a{
	border: 1px solid #888;
	width: 2.8rem;
	height: 2.5rem;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3rem;
	border-radius: 5px;
	color: #888;
}

.footer .footer-content .about .socials a i{
	line-height: 2.5rem;

}

.footer .footer-content .about .socials a:hover {
	border-radius: 1px solid #fff;
	color: #fff;
	transition: all 0.8s ease;
}

/*footer-links*/
.footer .footer-content .links ul a {
	display: block;
	margin-bottom: 0.8rem;
	font-size: 1.2rem;
	padding-left: 1.5rem;
	color: #888;
}

.footer .footer-content .links ul a:hover {
	color: #fff;
	margin-left: 15px;
	transition: all 0.8s ease;
}

/*contact form*/
.footer .footer-content .contact-form .contact-input {
	background: #272727;
	color: #beddbd;
	padding: 0 0.5rem;
}

.footer .footer-content .contact-form .contact-input:focus {
	background: #1a1a1a;
	transition: 0.5s;
}

/*footer-section*/
.footer .footer-content .footer-section {
	flex: 1;
	padding: 1.5rem;
}


/*footer-bottom*/
.footer .footer-bottom {
	background: #343a40;
	color: #686868;
	height: 5vh;
	text-align: center;
	line-height: 5vh;
	/*text-shadow: 1px 1px 0px #fff;*/
	text-decoration: overline;
}
/*END OF BLOG FOOTER*/

@media (max-width: 960px){

	/*RESPONSIVE NAV BAR HTML/CSS*/
	label.logo{
		font-size: 1.8rem;
		padding-left: 50px;
	}

	nav ul li a {
		font-size: 0.9rem;
	}
	/*END OF RESPONSIVE NAV BAR HTML/CSS*/

	/*GLOWING TEXT USING HTML/CSS*/
	#glowingtext h1 {
		font-size: 6rem;
	}
	/* END OF GLOWING TEXT USING HTML/CSS*/

	/*TIMELINE*/
	.timeline {
		width: 100%
	}
	/*END OF TIMELINE*/

	/*GALLERY USING CSS GRID*/
	.image-gallery {
		grid-template-areas:
		'img1 img1 img2 img2'
		'img1 img1 img3 img3'
		'img4 img4 img5 img5'
		'img6 img7 img7 img7'
		'img8 img8 img8 img8';
	}

	.image-gallery a{
		height: 20rem;
	}

	.img1 {
		min-height: 41.5rem;
	}

	.img6 {
		min-height: 20rem;
	}
	/*END OF GALLERY USING CSS GRID*/

	/*BACK TO TOP*/
	#topBtn {
		transform: scale(0.9);
	}

	/*END OF BACK TO TOP*/
}

@media (max-width: 760px){
	/*RESPONSIVE NAV BAR HTML/CSS*/
	.checkbtn{
		display: block;
	}

	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		opacity: 0.8;
		top: 10vh;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
		opacity: 1;
	}

	nav ul li a {
		font-size: 1rem;
	}

	#check:checked~ul{
		left: 0;
	}
	/*END OF RESPONSIVE NAV BAR HTML/CSS*/

	/*GLOWING TEXT USING HTML/CSS*/
	#glowingtext h1 {
		font-size: 4rem;
	}
	/*END OF GLOWING TEXT USING HTML/CSS*/

	/*TIMELINE*/
	.timeline ul {
		margin: 0 0.5rem;
	}
	.timeline ul li:nth-child(odd){
		float: none;
		text-align: center;
	}

	.timeline ul li:nth-child(even){
		float: none;
		text-align: center;
	}

	.timeline ul li {
		width: 100%;
		padding: 1.25rem 2.4rem;
		box-sizing: border-box;
		border: 3px solid rgba(0, 0, 0, 1);
		margin: 1rem 0;
	}

	.timeline ul li:nth-child(odd)::before{
		content: none;
	}

	.timeline ul li:nth-child(even)::before{
		content: none;
	}

	.timeline::before{
		content: none;
	}

	.timeline ul li:hover {
	 	border-top: 3px solid rgba(0, 0, 0, 1);
		border-bottom: 3px solid rgba(0, 0, 0, 1);
	}
	/*END OF TIMELINE*/

	/*GALLERY USING CSS GRID*/
	.image-gallery {
		grid-template-areas:
		'img1 img1 img1 img1'
		'img2 img2 img2 img2'
		'img3 img3 img3 img3'
		'img4 img4 img4 img4'
		'img5 img5 img5 img5'
		'img6 img6 img6 img6'
		'img7 img7 img7 img7'
		'img8 img8 img8 img8';
	}

	.image-gallery a,
	img1,
	img6 {
		min-height: 30rem;
	}
	/*END OF GALLERY USING CSS GRID*/

	/*BACK TO TOP*/
	#topBtn {
		transform: scale(0.6);
	}
	#backtotop .backtotop-item img{
		max-width: 320px;
	}
	/*END OF BACK TO TOP*/

	/*BLOG FOOTER*/
	.footer .footer-content .links ul a {
		width: 100%;
		padding-left: 0;
	}

	.footer .footer-content .links .socials a {
		padding: 0 0.5rem;
	}

	.footer .footer-content {
		display: block;
		text-align: center;
	}

	#blogfooter input, #blogfooter textarea, #blogfooter button {
		margin: 1rem auto;
	}
	/*END OF BLOG FOOTER*/
}

@media (max-width: 540px){
	/*TABLE OF CONTENTS*/
	#ToC .ToC-texts h1 {
		font-size: 1rem;
		line-height: 4rem;
	}

	/*RESPONSIVE NAV BAR HTML/CSS*/
	label.logo{
		font-size: 1.7rem;
	}
	/*END OF RESPONSIVE NAV BAR HTML/CSS*/

	/*GLOWING TEXT USING HTML/CSS*/
	#glowingtext h1 {
		font-size: 2rem;
	}
	/*END OF GLOWING TEXT USING HTML/CSS*/

	/*BACK TO TOP*/
	#topBtn {
		transform: scale(0.5);
		right: 0px;
		bottom: 10px;
	}
	/*END OF BACK TO TOP*/

	/*BLOG FOOTER*/
	#blogfooter input.text-input.contact-input {
		width: 100%;
	}

	#blogfooter textarea.text-input.contact-input {
		width: 100%;
	}
	/*END OF BLOG FOOTER*/

}
